* {
    margin: 0;
    padding: 0;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image {
    height: 100px;
}
.container {
    border: black solid 1px;
    display: flex;
    flex-direction: row;
}
.element {

}
.search {
    align-items: center;
    height: 36px;
    width: 250px;
    margin-right: 100px;
}
.text {
    font-weight: bold;
    padding: 4px;
    margin-right: 8px;
    margin-left: 8px;
    text-decoration: none;
}
.top-menu {
    margin-left: 500px;
    display: flex;
    flex-direction: row;
}